<.header>
  Host {@host.id}
  <:subtitle>This is a host record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/hosts/#{@host}/edit"}>
      <.button>Edit host</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@host.name}</:item>
  <:item title="Description">{@host.description}</:item>
  <:item title="Pubkey">{@host.pubkey}</:item>
</.list>

<.back navigate={~p"/hosts"}>Back to hosts</.back>
