<div id="app-container" class="m-auto">
  <header>
    <div class="fl-flex fl-row">
      <.hero
        title={assigns[:hero_title] || "Remembrance"}
        subtitle={assigns[:hero_subtitle] || "ZFS Snapshot Console"}
      />

      <.debug_details details={@dbg_lines} />
    </div>
    <!-- header blocks -->
  </header>
  <main>
    <.flash_group flash={@flash} />
    {render_slot(@inner_block)}
  </main>
</div>
