<header>
  <div class="fl-flex fl-row">
    <.hero 
      title={assigns[:hero_title] || "Remembrance"}
      subtitle={assigns[:hero_subtitle] || "ZFS Snapshot Console"} />

    <div></div>
  </div> <!-- header blocks -->
</header>
<main>
  <div class="app-container">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
