<.header>
  New Host
  <:subtitle>Use this form to manage host records in your database.</:subtitle>
</.header>

<.host_form changeset={@changeset} action={~p"/hosts"} />

<.back navigate={~p"/hosts"}>Back to hosts</.back>
