<Layouts.app {splat_app(assigns)}>
  foo
</Layouts.app>

<!--
<.link href={~p"/hosts"}>
  Back to hosts
</.link>

<.link href={~p"/hosts/#{@host}/edit"}>
  Edit Host
</.link>
-->


<!--
<.list>
  <:item title="Name">{@host.name}</:item>
  <:item title="Description">{@host.description}</:item>
  <:item title="Pubkey">{@host.pubkey}</:item>
</.list>
-->

